# Python venvs
overseer/env
underseer/env

# Kmod build artifacts.
allseer/build
allseer/.module-common.o

# __pycache__'s
**/__pycache__/

# Cython artifacts
underseer/underseer.c
underseer/underseer.cpython*
underseer/build

# SQLite databases
/overseer/db/*