# Python venvs
overseer/env
agent/env

# Kmod build artifacts.
engine/build
engine/.module-common.o
bergamot_engine.ko

# __pycache__'s
overseer/__pycache__

# Cython artifacts
agent/*.c
agent/*.cpython*
agent/build

# Agent build artifacts
agent/*.egg-info
pyinstaller_hooks
bergamot-agent-dist
bergamot-agent

# SQLite databases
/overseer/db/*