<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Connections - Bergamot</title>
      <link rel="icon" href="/favicon.ico" />
      {% include 'includes/_universal_imports.html' %}
      <script src="/static/js/uptime.js"></script>
    </head>
    <body>
      <header id="menu-bar">
        <div class="menu-clump">
          <h1>Bergamot</h1>
          <sub>v0.1</sub>
        </div>
          <div class="menu-clump" id="menu-bar-interactives">
          <span id="menu-uptime"></span> <!-- Managed in /static/scripts/uptime.js -->
          <a class="menu-link" href="/captures">Captures</a>
          <a class="menu-link" href="https://github.com/ingenuineintel/bergamot">
            <img id="gh_proj_link" src="{{ url_for('static', filename='images/other/github/GitHub_Invertocat_White.png') }}">
          </a>
        </div>
      </header>
      <div id="frontpage-branding">
        <img src="{{ url_for('static', filename='images/bergamot/bergamot_full_logo-512x512.png') }}">
        <span>Copyright (c) 2026 IngenuineIntel</span>
      </div>
    </body>
</html>