<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Home - Bergamot</title>
      {% include 'includes/_universal_imports.html' %}
    </head>
    <body>
      <header>
        <div id="logo-title">
          <img alt="Bergamot Logo" src="{{ url_for('static', filename='images/bergamot/bergamot_full_logo-512x512.png') }}">
          <h1>BERGAMOT</h1>
        </div>
        <span id="uptime">No Connections</span>
        <!-- script specifically for uptime measurement -->
        <script src="/static/js/uptime.js"></script>
      </header>
      <div id="nav" class="inactive">
        <ul>
          <li class="navlink">
            <a href="/">Home</a>
          </li>
          <li class="navlink">
            <a href="/captures">Captures</a>
          </li>
          <li class="navlink">
            <a href="/docs">Documentation</a>
          </li>
        </ul>
        <a id="ghproj" href="https://github.com/ingenuineintel/bergamot" target="_blank" rel="noopener noreferrer">
          <img src="{{ url_for('static', filename='images/other/github/GitHub_Invertocat_White.png') }}">
        </a>
        <sub id="ver">v0.1</sub>
      </div>
      <button id="navtoggle">TODO make menu SVG</button>
      <!-- script specifically for nav button logic -->
      <script src="/static/js/nav.js"></script>
      <!-- TODO rest of body -->
    </body>
</html>