/* global.css - everything's style */

/******************************************************************************
                                   SWITCHES
******************************************************************************/

:root {
  --bg: #0d1117;
  --surface: #161b22;
  --border: #303e3a;
  --danger: #f85149;
  --success: #3fb950;

  --header: #a9c9a9;
  --header-font: "JetBrains Mono", monospace;

  --special: #495942;
  --special-font: "Space Mono", monospace;
  --special-font-weight: bolder;
  --special-font-style: normal;

  --reg: #a9c9a8;
  --reg-font: Courier, monospace;

  --dim: #5b7166;
  --dim-font: "JetBrains Mono", Courier, monospace;
  --dim-font-weight: lighter

}

/******************************************************************************
                                    BY TAG
******************************************************************************/

body {
  text-align: center;
  background: var(--bg);
  font-family: var(--reg-font);
  font-size: 13px;
  color: var(--reg);
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  background: var(--surface);
  border-bottom: 1px solid var(--border);
  position: sticky;
  top: 0;
  z-index: 10;
  max-height: 30px;
}

/******************************************************************************
                                BY ID OR CLASS
******************************************************************************/

#menu-bar>* {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  position: sticky;
}

#menu-bar h1 {
  color: var(--special);
  font-family: var(--special-font);
  font-style: var(--special-font-style);
  font-weight: var(--special-font-weight);
}

#menu-bar sub {
  color: var(--dim);
  font-family: var(--dim-font);
  font-weight: var(--dim-font-weight);
  font-weight: 200;
  margin-top: 20px;
}

#menu-uptime {
  text-align: center;
}

#gh_proj_link {
  width: 32px;
  height: 32px;
}