<svg
   width="130mm"
   height="100mm"
   viewBox="0 0 130 100"
   version="1.1"
   id="svg1"
   inkscape:export-filename="menu-icon.svg"
   inkscape:export-xdpi="94.826668"
   inkscape:export-ydpi="94.826668"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <sodipodi:namedview
     id="namedview1"
     pagecolor="#505050"
     bordercolor="#ffffff"
     borderopacity="1"
     inkscape:showpageshadow="0"
     inkscape:pageopacity="0"
     inkscape:pagecheckerboard="1"
     inkscape:deskcolor="#505050"
     inkscape:document-units="mm">
    <inkscape:page
       x="0"
       y="0"
       width="130"
       height="100"
       id="page2"
       margin="0"
       bleed="0" />
  </sodipodi:namedview>
  <defs
     id="defs1" />
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(-29.999999,-90)">
    <rect
       style="fill:currentColor;stroke-width:0.246313"
       id="rect1"
       width="130"
       height="20"
       x="30"
       y="90"
       ry="9.7181396" />
    <rect
       style="fill:currentColor;stroke-width:0.246313"
       id="rect1-3"
       width="130"
       height="20"
       x="30"
       y="130"
       ry="9.7181396" />
    <rect
       style="fill:currentColor;stroke-width:0.246313"
       id="rect1-3-1"
       width="130"
       height="20"
       x="30"
       y="170"
       ry="9.7181396" />
  </g>
</svg>
