<!-- _universal_imports.html -->

<!-- within this host -->
<link rel="icon" href="{{ url_for('static', filename='images/bergamot/favicon-32x32.ico') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='style/_fonts.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='style/global.css') }}" />
<script src="/static/js/global.js"></script>

<!-- outside of this host -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


<!-- Roboto Slab from Google Fonts -->
 <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">

<!-- Manrope from Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
